@font-face {
	font-family: 'Open Sans Regular';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'),
		url('../fonts/open-sans-v16-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.woff2?53973942') format('woff2'),
		url('../fonts/fontello.woff?53973942') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Merriweather Regular', Georgia, serif;
	color: #222;
}

h1,
h2 {
	font-family: 'Open Sans Regular', sans-serif;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

.header__icon:before {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: 0.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header__icon--linkedin:before {
	content: '\e800';
}

.header__icon--github:before {
	content: '\e801';
}

.header__icon--twitter:before {
	content: '\e802';
}

.header__icon--email:before {
	content: '\e803';
}

.container {
	max-width: 600px;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
}

.header {
	flex: 1 1 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 50px;
}

.header__logo,
.header__intro,
.header__navigation {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
}

.header__logo img {
	border-radius: 50%;
	border: 5px solid #98fb98;
}

.header__intro {
	flex-wrap: wrap;
	margin: 30px 0;
}

.header__intro h1,
.header__intro h2 {
	flex: 1 1 100%;
	text-align: center;
}

.header__navigation {
	font-size: 2em;
}

.header__navigation a {
	color: #ccc;
	transition: 0.05s;
	transition-timing-function: ease-out;
}

.header__navigation a:hover {
	color: #aaa;
	transition-timing-function: ease-in;
	transform: scale(1.15);
}

.header__spacer {
	font-size: 0.3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 15px;
}

@media (min-width: 640px) {
	body {
		margin-top: 120px;
	}
}
